{% load cms_tags i18n thumbnail %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if instance.image %}
        {% thumbnail instance.image 800x600 as thumbnail %}
        <img class="w-100" src="{{ thumbnail.url }}" alt="{{ instance.title }}" >
      {% elif instance.icon %}
        {% with icon_class=instance.icon instance=instance.icon %}{% include "djangocms_icon/includes/icon.html" %}{% endwith %}
      {% endif %}
      {% if instance.file_src %}
        <a{% if instance.open_in_new_window %} target="_blank"{% endif %} href="{{ instance.file_src.url }}" class="btn  btn-primary">{{ instance.file_src.label|default:instance.link_text }}</a>
      {% elif instance.link_url and instance.link_text %}
        <a{% if instance.open_in_new_window %} target="_blank"{% endif %} href="{{ instance.link_url }}" class="btn  btn-primary">{{ instance.link_text }}</a>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ instance.title }}</h4>
        <h5 class="card-title">{{ instance.subtitle }}</h5>
        {{ instance.content }}
      </div>
    </div>
  </div>
</div>
